<div class="surface-section px-4 py-5 md:px-6 lg:px-8">
    <ul class="list-none p-0 m-0 flex align-items-center font-medium mb-3">
        <li>
            <a class="text-500 no-underline line-height-3 cursor-pointer">Turnos</a>
        </li>
        <li class="px-2">
            <i class="pi pi-angle-right text-500 line-height-3"></i>
        </li>
        <li>
            <span class="text-900 line-height-3">Resumen del Turno</span>
        </li>
    </ul>
    
    <div class="card mt-3">
        <p-card header="{{service?.cliente?.nombre}} {{service?.cliente?.apellido}}"
            subheader="{{service?.vehiculo?.modelo?.descripcion}} - {{service?.vehiculo?.kilometraje}} km"
            [style]="{ width: '340px' }">
            <div>
                <span>Hora de Inicio: {{turnSummary.horaInicio}}</span>
            </div>
            <div class="my-2">
                <span>Hora de Fin: {{turnSummary.horaFin}}</span>
            </div>
            <div class="mt-4">
                <span class="font-bold">Info</span>
            </div>
            <div class="my-2">
                <span>Tipos de Servicio</span>
            </div>
            <p-table [value]="service?.lineasDeServicio!">
                <ng-template pTemplate="header">
                    <tr>
                        <th>N°</th>
                        <th>Nombre</th>
                        <th>Puntos</th>
                        <!-- <th></th> -->
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-line>
                    <tr>
                        <td scope="row">0</td>
                        <td>{{line.tipoDeServicio.nombre}}</td>
                        <td>{{line.puntos}}</td>
                        <!-- <td> -->
                            <!-- <button class="dropdown-item" type="button" data-bs-toggle="modal" data-bs-target="#modalCenter" -->
                                <!-- (click)="onDelete(line)"><i class="bx bx-trash me-1"></i> Delete</button> -->
                        <!-- </td> -->
                    </tr>
                </ng-template>
                <ng-template pTemplate="footer">
                    <tr>
                        <td colspan="2" class="text-right">Total de Puntos</td>
                        <td>{{service?.puntosTotales}}</td>
                        <!-- <td></td> -->
                    </tr>
                </ng-template>
            </p-table>
            <div class="my-2">
                <span>Combos de Servicios</span>
            </div>
            
            <p-table [value]="service?.lineasDeCombo!">
                <ng-template pTemplate="header">
                    <tr>
                        <th>N°</th>
                        <th>Nombre</th>
                        <th>Puntos</th>
                        <!-- <th></th> -->
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-c>
                    <tr>
                        <td scope="row">0</td>
                        <td>{{c.combo.nombre}}</td>
                        <td>{{c.combo.puntos}}</td>
                        <!-- <td> -->
                            <!-- <button class="dropdown-item" type="button" data-bs-toggle="modal" data-bs-target="#modalCenter" -->
                                <!-- (click)="onDelete(c)"><i class="bx bx-trash me-1"></i> -->
                                <!-- Delete</button> -->
                        <!-- </td> -->
                    </tr>
                </ng-template>
                <ng-template pTemplate="footer">
                    <tr>
                        <td colspan="2" class="text-right">Total de Puntos</td>
                        <td>{{service?.puntosTotales}}</td>
                        <!-- <td></td> -->
                    </tr>
                </ng-template>
            </p-table>
    
            <ng-template pTemplate="footer">
                <div class="flex gap-3 mt-1">
                    <p-button label="Cancel" severity="secondary" class="w-full" styleClass="w-full" />
                    <p-button label="Save" class="w-full" styleClass="w-full" />
                </div>
            </ng-template>
    
    
        </p-card>
    </div>
</div>


