<div class="flex align-items-start flex-column lg:justify-content-between lg:flex-row">
  <div>
    <div class="font-medium text-3xl text-900">Elegir Turno</div>
    
  </div>
</div>

<div class="text-700 mt-3">
  <span>Elegí Fecha y hora para tu tuno</span>
</div>

<div class="card my-3">
  <p-calendar 
      class="w-15rem" 
      [(ngModel)]="selectedDate" 
      [inline]="true" 
      [showWeek]="true" 
      [minDate]="minDate"
      (ngModelChange)="onDateChange()"/>
</div>
<hr>
<div class="card" *ngIf="schedulesDisp.length?false:true">
  <p-messages 
      [(value)]="messages!" 
      [enableService]="false" 
      [closable]="false" />
</div>
<div class="card flex flex-column align-items-center">
  <!-- Iteramos sobre cada grupo de horarios -->
  <div *ngFor="let group of groupedSchedulesDisp" class="mb-3">
    <p-selectButton 
        [options]="group" 
        [(ngModel)]="selectedHour" >
    </p-selectButton>
  </div>
</div>

<div class="mt-3">
  <p-button label="Continuar" class="" styleClass="w-full" (onClick)="onConfirm()" [disabled]="selectedHour?false:true" />
</div>