<div class="flex align-items-start flex-column lg:justify-content-between lg:flex-row">
  <div>
    <div class="font-medium text-3xl text-900">Arma tu servicio</div>
    
  </div>
</div>

<div class="text-700 mt-3">
    <span>Tipos de Servicio</span>
</div>

<div class="card mt-3">
  <p-listbox [options]="typeServices" [(ngModel)]="selectedTypeServices" optionLabel="descripcion"
    [style]="{'width':'20rem'}" [multiple]="true" [metaKeySelection]="false" [listStyle]="{'max-height': '220px'}" />
</div>

<div class="text-700 mt-3">
  <span>Combos de Servicios</span>
</div>

<div class="card mt-3">
  <p-listbox [options]="combos" [(ngModel)]="selectedCombos" optionLabel="descripcion" [style]="{'width':'20rem'}"
    [multiple]="true" [metaKeySelection]="false" [listStyle]="{'max-height': '220px'}" />
</div>

<div class="mt-3">
  <p-button label="Continuar" class="" styleClass="w-full" (onClick)="onClick()" [disabled]="selectedTypeServices.length||selectedCombos.length?false:true"/>
</div>